body > .navbar + .container {
	margin-top: 100px;
}

#Heatmap iframe {
	border: none;
	height: 400px;
	width: 100%;
}

.pie canvas {
	display: block;
	margin: 15px auto;
}
.share-container {
	position: relative;
	height: 64px;
}
#Copyright {
	text-align: center;
}